/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-sFont > {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700 */

.oswald-fFont > {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.about_header {
  background-image: url(../assets/placeholder.webp);
}

.about_header_undertext {
  display: block;
}

.about_paragraph_image {
  display: grid;
}

.about_paragraph_image img {
  height: 50%;
  width: auto;
  border-radius: 20px;
}
