@media (min-width: 1200px) {
  /* Desktop Header */

  .desktop_nav ul {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 3fr 1fr;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .header_social_media ul {
    display: flex;
    flex-direction: row;
  }

  #mute_button {
    padding-top: 25px;
    margin-left: auto;
  }
}
