img {
  border-radius: 30px;
}

video {
  border-radius: 30px;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: oblique;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: #f28057;
}
/* CSS Reset */
* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

/* Webfont styling */

.inter-regular {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: oblique;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* INDEX.HTML STYLE */

/* Index hero section style */

.hero_flex a {
  text-decoration: none;
  background-color: #c42345;
  width: 15vw;
  height: 15vw;
  border-radius: 200px;
}

.hero_flex a:hover {
  background-color: #9b35e4;
}

h5 {
  font-family: "Oswald", sans-serif;
  line-height: 90%;
  font-size: 4.5vw;
  text-align: center;
  color: white;
  padding-top: 22%;
}

/* Index section - next upcoming show */

.index_nextshow {
  background-image: url(../assets/index_background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
  margin-top: -7%;
}

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  color: #3d093a;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.index_nextshow p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #3d093a;
  padding: 20px;
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.index_nextshow_buttons a {
  border: #c42345 5px solid;
  display: block;
  width: 320px;
  font-family: "Inter", sans-serif;
  color: black;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  border-radius: 100px;
  padding: 7px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.index_nextshow_buttons a:hover {
  border: #9b35e4 5px solid;
  background-color: #9b35e449;
}

.index_nextshow_buttons a:first-of-type {
  background-color: #c42345;
  color: white;
  width: 150px;
}

.index_nextshow_buttons a:first-of-type:hover {
  background-color: #9b35e4;
}

/* Index countdown style */

.countdown ul li {
  list-style: none;
  font-size: 3vw;
  text-transform: uppercase;
  text-align: center;
  font-family: "Rajdhani", sans-serif;
}

.countdown li {
  margin-left: 3vw;
  background-color: white;
  width: 15%;
  border-radius: 15%;
}

.countdown li:first-of-type {
  margin-left: 0;
}

li span {
  display: block;
  font-size: 8vw;
  font-family: "Righteous", sans-serif;
}

/* Index text section style */

.grid_2-1-2 img {
  border-radius: 30px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 30%;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.grid_2-1-2 div a {
  border: #c42345 5px solid;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border-radius: 100px;
  padding: 7px 0px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 200px;
  text-align: center;
  margin-bottom: 30px;
}

.grid_2-1-2 div a:hover {
  border: #9b35e4 5px solid;
  background-color: #9b35e449;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: #f28057;
  text-align: center;
  margin-top: 40px;
}

p {
  font-family: "Inter", sans-serif;
  color: #3d093a;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  text-align: center;
}

.index_music p {
  text-align: center;
}

/* FOOTER STYLE */

.footer_social_media img {
  width: 40px;
}

#footer_line_yellow {
  background-color: #ffb575;
  height: 10px;
}
#footer_line_orange {
  background-color: #f28056;
  height: 10px;
}

.back_to_top {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  z-index: 11;
  position: relative;
  translate: 0 50px;
}

.footer_banner_container {
  background-image: url(../assets/footer_banner.svg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  z-index: 10;
  height: 70px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  translate: 0 94.5px;
}

.footer_social_media {
  list-style: none;
}

.footer_flex {
  background-color: #c42345;
  position: relative;
  z-index: 10;
  padding-top: 30px;
}

.footer_social_media li {
  padding-right: 5px;
  padding-left: 5px;
}

.footer_logo {
  padding-left: 5px;
}

footer p {
  text-align: center;
  font-size: 12px;
  background-color: #c42345;
  width: 100%;
}

@media (min-width: 800px) {
  h2 {
    margin-top: 0;
    font-size: 34px;
  }

  .grid_2-1-2 {
    margin: 40px;
    gap: 20px;
  }
  h3 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  /* INDEX.HTML STYLE */

  .index_nextshow p {
    font-size: 24px;
  }

  .grid_2-1-2 {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
  }
  .grid_2-1-2 div a {
    margin-bottom: 0;
  }

  .grid_2-1-2 img {
    height: 500px;
  }

  .grid_2-1-2 p {
    font-size: 20px;
    line-height: 34px;
  }

  .desktop_nav {
    display: block;
    z-index: 10;
  }

  .hero_flex a {
    width: 200px;
    height: 200px;
  }

  h5 {
    font-size: 60px;
  }

  li span {
    font-size: 90px;
  }

  .countdown ul li {
    font-size: 34px;
  }

  .countdown li {
    width: 180px;
    height: 180px;
  }

  /* Desktop Header */

  nav img {
    width: 40px;
  }

  nav ul li a {
    color: black;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #9b35e4;
  }

  nav ul li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }

  nav ul li:nth-of-type(4) {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

  .desktop_header_line_red {
    background-color: #c42345;
    height: 10px;
  }
  .desktop_header_line_orange {
    background-color: #f28056;
    height: 10px;
  }
  .desktop_header_line_yellow {
    background-color: #ffb575;
    height: 10px;
  }

  .desktop_logo {
    width: 120px;
    padding-top: 10px;
    z-index: 3;
  }

  .header_social_media li:nth-of-type(4) {
    padding-top: 25px;
  }

  .header_social_media li:hover {
    filter: grayscale(100%) brightness(0.6) contrast(500%);
  }
  .header_social_media li:nth-of-type(4):hover {
    filter: grayscale(100%) brightness(0) contrast(500%);
  }

  .active_index {
    background-image: url(../assets/banner.svg);
    background-repeat: no-repeat;
    padding-left: 90px;
    margin-left: -90px;
    padding-right: 90px;
    margin-right: -90px;
    padding-bottom: 100px;
    margin-bottom: -100px;
    translate: 0 -30px;
  }
}

@media (min-width: 1400px) {
  /* Responsive Margins */

  main {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer_flex {
    padding-right: 200px;
    padding-left: 200px;
  }
}
