/*************** Contact.html ****************/

.red-text {
  color: #c42345;
}

label,
input,
button {
  display: block;
  margin-top: 30px;
  border-radius: 10px;
  border: 0;
}

form {
  display: grid;
}

form input:focus {
  outline: none;
  border: 1px solid #b993b7;
}

button {
  background-color: #c42345;
  color: white;
  cursor: pointer;
  width: 50%;
  justify-self: center;
}

button:hover {
  background-color: #9747ff;
}

.name,
.email {
  color: #b993b7;
  padding: 5px;
}

.message {
  padding: 30px;
  color: #b993b7;
}

.background-form {
  background-color: #f3f3f3;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
}

iframe {
  width: 100%;
  height: 100%;
}
/*************** Contact.html slut ****************/
